/* >>>>>>>>>>>>>>>> Genericos <<<<<<<<<<<<<<<<< */

/* ---------- Normalizador ------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* ---------------- container-header ---------------- */

.container-header{
    display: flex;
    flex-direction: column;
    background-color: black;
}

/* ---------------- titulo ---------------- */

.container-header h1{
    margin-top: 2%;
    color: white;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

/* -------------- nav-bar -------------- */

.navegador{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 2%;
    margin-right: 2%;
}

.a-nav{
    margin: 8px;
    background-color: rgb(10, 98, 180);
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    transition: 1s;
}

.a-nav:hover{
    background-color:  rgba(10, 98, 180, 0.356);
    transition: 1s;
    transform: scale(1.5,1.5);
}

.activo{
    background-color: rgb(96, 158, 4);
}
.activo:hover{
    background-color: rgb(96, 158, 4);
    transform: scale(1,1);
}

/* -------------- Banner ---------------- */

.banner{
    width: 99.1vw;
    max-height: 40vw;
}

/* -------------------- subtitulo --------------- */

.subtitulo{
    background-color: black;
    color: white;
    padding: 1%;
    font-size: 40px;
    text-align: center;
}

.subtitulo p{
    text-decoration: underline;
}

/* ------------------- Cuerpos ------------------ */

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* ------------------ Fondos ------------------- */

.fondo-home{
    background-image: url(../img/hockey_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo-about{
    background-image: url(../img/hockey_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo-contact{
    background-image: url(../img/hockey_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------------------- logo ----------------- */

.logo{
    width: 250px;
}

.cuerpo-contact img{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 400px;
}

/*-------------------------- cuerpo carta ------------------*/

.cuerpo-carta{
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 3%;
    align-self: flex-end;
    width: 40rem;
    background-color: rgba(250, 235, 215, 0.747);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.cuerpo-carta>h3{
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 35px;
}

.cuerpo-carta>p{
    margin-left: 10%;
    font-size: 25px;
}

/* ------------------- footer -------------------- */


.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 2%;
}

.foot-cont-img{
    width: 20%;

}
.foot-cont-img img{
    position: relative;
    left: 35%;
    width: 40%;
}


.footer-redes{
    width: 20%;
    justify-content: space-between;
    text-align: center;
}
.footer-redes h3{
    padding: 5%;
}

.footer-redes img{
    width: 10%;
    margin: 5%;
}

.footer-redes img:hover{
    transition: 1s;
    transform: scale(1.5,1.5);
}


/* >>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>> Paginas <<<<<<<<<<<<<<<<< */

/* ----------------- about ----------------- */ 

.cuerpo-about{
    margin-left: 10%;
    margin-bottom: 9%;
    width: 45%;
}

.cuerpo-about>h3{
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 30px;
    text-shadow: 1px 2px #999;
}

.cuerpo-about>p{
    text-indent: 5%;
    margin-left: 5%;
    font-size: 25px;
    text-shadow: 1px 2px #999;
}

.cuerpo-img-about img{
    width: 95%;
    margin-left: 5%;
    position: relative;
    left: 5%;
}

/* ----------------- contact -------------- */

.cuerpo-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cuerpo-contact h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 2%;
    text-shadow: 1px 2px #999;
}

.cuerpo-contact p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15%;
    margin-top: 5%;
    text-shadow: 1px 2px #999;
}

.mail{
    width: 20%;
}

.mail img{
    width: 20%;
    margin-left: 40%;
    opacity: 20%;
}

.mail img:hover{
    width: 20%;
    margin-left: 40%;
    opacity: 100%;
    transition: 1s;
    transform: scale(1.3,1.3);
}

/* ----------------- game-info ---------------------- */

.cuerpo-GI{
    display: flex;
    justify-content: space-between;
    background-image: url(../img/design1_image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

.cuerpo-GI table{
    margin: 5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.507);
    border: 2px solid black;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.cuerpo-GI th{
    background-color: rgba(128, 128, 128, 0.774);
}

.cuerpo-GI th,td{
    border: 2px solid black;
    padding: 2%;
}

/* --------------- Rules ---------------- */ 

.container-header-rules{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.container-header-rules img{
    width: 15%;
}

.cuerpo-rules{
    display: flex;
    justify-content: space-around;
}


.cuerpo-rules h3{
    margin: 2% 5%;
}

.cuerpo-rules p, li{
    margin: 2% 9%;
    text-align: justify;
}

.container-img{
    display: flex;
    align-items: flex-end;
    width: 30%;
    background-color: black;
}
.container-img img{
    width: 90%;
}

.back{
    margin-bottom: 3%;
    position: relative;
    left: 50%;
    width: 20%;
}
.back img{
    width: 15%;
    opacity: 20%;
}

.back img:hover{
    width: 15%;
    opacity: 100%;
}

/* >>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<< */


